[Desktop Entry]
Name=Attendence
Exec=#/usr/bin/ipython3 /home/home/github/Kids_Vids/download_new_vides.py
Type=Application
X-GNOME-Autostart-enabled=true
