<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
			* {box-sizing: border-box;}
			.column {float: left;width: 20.00%; padding: 0px;}
			/* Clearfix (clear floats) */
			.row::after {content: "";clear: both;display: table;}
		</style>
	</head>
	<body>
		<center>Kids_Vids</center>
		<br>
		<div class="row">
			{% for info in vids_info %}
				<!-- 
				upload_date
				duration
				-->
				<div class="column">
					<figure class="D3Oi9">
						<div class="video-box">
							<iframe 
								width="320" 
								height="240" 
								src={{ info.video_url }} 
								frameborder="0" 
								allowfullscreen>
							</iframe>
						</div>
					</figure>
				</div>
			{% endfor %}
		</div>
	</body>
</html>